.title-text {
  font-size: 48px;
  font-weight: 100;
  line-height: 1;
  padding-left: 20px;
  color: var(--v-primary-base);
}
@media (max-width: 600px) {
  .title-text {
    text-align: left;
    padding-left: 0px;
    font-size: 28px;
  }
}
